- apt:
    name:
      - containerd
    update_cache: yes

- name: Configure containerd
  shell: |
    mkdir -p /etc/containerd
    containerd config default > /etc/containerd/config.toml
    sed -i 's/SystemdCgroup = false/SystemdCgroup = true/' /etc/containerd/config.toml

- service:
    name: containerd
    state: restarted
    enabled: yes
